body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height:100%
}
html {
  height:100%
}


/*
  CARDS - STOCK SELECT
 */
.pt-card.pt-interactive:hover{
  background-color: #2B95D6; /*rgb(14, 90, 138); /*DARK BLUE*/
}
.stock-select-name{
  font-size: 60px;
  color: rgb(14, 90, 138);
}
.pt-card.pt-interactive:hover .stock-select-name,
.pt-card.selected-stock .stock-select-name{
  color: white;
}
.pt-card.selected-stock{
  background-color: #DB2C6F;
}

/*
  BUY SELL CHOICE
*/
.buy-sell-choice{
  color:white
}
.buy-sell-choice:hover{
  cursor: pointer;
}
.buy-choice._Rfx6_, .sell-choice._Rfx6_{
  padding:5px;
  padding-bottom: 10px;
}
.buy-choice{
  background-color: #15B371;
  /*border-top-left-radius: 35px;*/
  /*border-bottom-left-radius: 35px;*/
}
.sell-choice{
  background-color: #F55656;
  /*border-top-right-radius: 35px;*/
  /*border-bottom-right-radius: 35px;*/
}
.buy-choice:hover, .selection-made .buy-choice{
  background-color: #0F9960;
}
.sell-choice:hover, .selection-made .sell-choice{
  background-color: #DB3737;
}
.deselected.buy-choice, .deselected.buy-choice:hover,
.deselected.sell-choice, .deselected.sell-choice:hover{
  background-color: #bbbbbb;
}